*{
    margin: 0;
    padding: 0;
}
body{
    background:#014023;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formulario{
    width: 320px;
    background: #025939;
    padding: 40px 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%); 
}
input[type = "text"]{
    width: 100%;
    background: none;
    border: 1px solid #f29b30;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: whitesmoke;
}
input[type = "password"]{
    width: 100%;
    background: none;
    border: 1px solid #f29b30;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: whitesmoke;
}
input[type = "mail"]{
    width: 100%;
    background: none;
    border: 1px solid #f29b30;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: whitesmoke;
}
select[class = "s_materia"]{
    width: 100%;
    background: #014023;
    border: 1px solid #f29b30;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: whitesmoke;
}
select[class = "s_genero"]{
    width: 100%;
    background: #014023;
    border: 1px solid #f29b30;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: whitesmoke;
}
input[type = "phone"]{
    width: 100%;
    background: none;
    border: 1px solid #f29b30;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: whitesmoke;
}
input[type="submit"]{
    background: gold;
    width: 100%;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    color:#014023;
    font-size: 20px;
}
input[type = "submit"]:hover{
    background: yellow;
    transition: .6s;
}
